.content-song{
    white-space: pre-wrap;
    font-family: "Lucida Console", "Courier New", monospace;
}

.normal{
    color: #000000;
}

.chorus{
    color: #0a0dad;
    font-weight: bold;
}

.chords{
    color: #7e7e7e;
    font-weight: bold;
}